<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ELPB/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ELPB/index.html [L]
</IfModule>
